<!doctype html>
<html lang="en">
<head>
    <title>Websocket ChatRoom</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        [v-cloak] {
            display: none;
        }
        .modal {
            display: none;
            position: fixed;
            z-index: 999;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            animation-name: animatetop;
            animation-duration: 0.4s;
        }
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        @keyframes animatetop {
            from {top: -300px; opacity: 0}
            to {top: 0; opacity: 1}
        }
    </style>
</head>
<body>
<div class="container" id="app" v-cloak>
    <div class="row">
        <div class="col-md-6">
            <h4>{{roomName}}  <span class="badge badge-info badge-pill">{{userCount}}</span> </h4>
        </div>
        <div class="col-md-6">
            <ul>
                <li v-for="email in emails" :key="email">{{ email }}</li>
            </ul>
        </div>
        <div class="col-md-6 text-right">
            <a class="btn btn-primary btn-sm" href="/logout">로그아웃</a>
            <a class="btn btn-info btn-sm" href="/chat/room">채팅방 나가기</a>
<!--            <button class="btn btn-success" @click="showEmailSelectionModal">이메일선택</button>-->
            <button class="btn btn-success" data-by="mafia" @click="showEmailSelectionModal">마피아게임</button>
            <button class="btn btn-success" data-by="rock-paper-scissors" @click="showEmailSelectionModal">가위바위보 게임 시작하기</button>
<!--                여기를 일단 이메일을 키는 창으로 만들어야한다-->
        </div>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text">내용</label>
        </div>
        <input type="text" class="form-control" v-model="message" @keypress.enter="sendMessage('TALK')">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" @click="sendMessage('TALK')">보내기</button>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item" v-for="message in messages">
            {{message.sender}} - {{message.message}}</a>
        </li>
    </ul>
    <!-- 이메일 선택 모달 -->
    <div id="emailSelectionModal" class="modal" :style="{display: showEmailModal ? 'block' : 'none'}">
        <div class="modal-content">
            <span class="close" @click="showEmailModal = false">&times;</span>
            <h2>게임 요청할 상대를 선택하세요</h2>
            <select v-model="selectedEmail" class="form-control">
                <option v-for="email in emails" :value="email">{{ email }}</option>
            </select>
            <button type="button" class="btn btn-success mt-2" @click="sendGameRequest">게임 요청 보내기</button>
        </div>
    </div>

    <!-- 마피아 게임 모달 -->
    <div id="mafiaGameModal" class="modal" :style="{display: showMafiaModal ? 'block' : 'none'}">
        <div class="modal-content">
            <span class="close" @click="showMafiaModal = false">&times;</span>
            <h2>마피아 게임</h2>
            <div v-if="currentRound <= maxRounds">
                <h3>라운드 {{currentRound}}</h3>
                <button type="button" class="btn btn-primary" @click="sendGameResponse('ROCK')">가위</button>
                <button type="button" class="btn btn-primary" @click="sendGameResponse('PAPER')">바위</button>
                <button type="button" class="btn btn-primary" @click="sendGameResponse('SCISSORS')">보</button>
            </div>
            <div v-else>
                <p>게임이 종료되었습니다.</p>
            </div>
        </div>
    </div>

    <!-- 모달 컴포넌트 -->
    <div id="gameRequestModal" class="modal" :style="{display: showModal ? 'block' : 'none'}">
        <div class="modal-content">
            <h2>게임 요청</h2>
            <div class="ifNotSender" v-if="userName !== getSenderName() && showModal&& !showSelect" >
                <p>상대방이 가위바위보 게임을 시작하길 원합니다. 수락하시겠습니까?</p>
                <button type="button" @click="acceptGameRequest">수락</button>
                <button type="button" class="close" @click="rejectGameRequest">거절</button>
            </div>
            <div class="ifNotSender" v-if="userName == getSenderName() && !showSelect">
                <p>상대방의 수락을 기다리는 중 ...</p>
            </div>

            <div class="ifGameStart" v-if="showSelect">
                <button type="button" class="btn btn-primary" @click="sendGameResponse('ROCK')">가위</button>
                <button type="button" class="btn btn-primary" @click="sendGameResponse('PAPER')">바위</button>
                <button type="button" class="btn btn-primary" @click="sendGameResponse('SCISSORS')">보</button>
            </div>
<!--            gameResponse에 대해서 하나를 선택하고 게임번호 까지 같이 전송한다? -->

        </div>
    </div>
</div>

<!-- JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script>
    // websocket & stomp initialize
    var sock = new SockJS("/ws-stomp");
    var ws = Stomp.over(sock);

    // vue.js
    var vm = new Vue({
        el: '#app',
        data: {
            roomId: '',
            roomName: '',
            message: '',
            messages: [],
            token: '',
            selectedEmail: null,
            showMafiaModal: false,
            userCount: 0,
            showModal: false, // 모달 상태를 저장하는 변수 추가
            showEmailModal: false, // 이메일 선택 모달 상태를 저장하는 변수
            showSelect: false,
            playerCards : ['시민1', '시민2', '시민3', '경찰', '마피아'],
            currentRound: 1,
            choiceCheck: false,
            maxRounds: 5,
            userName:{},
            request:{},
            gameType: '',
            emails: [] // 이메일 목록을 저장할 데이터 속성 추가
        },
        created() {
            this.roomId = localStorage.getItem('wschat.roomId');
            this.roomName = localStorage.getItem('wschat.roomName');
            var _this = this;
            axios.get('/chat/user').then(response => {
                _this.userName = response.data.name;
                _this.token = response.data.token;
                ws.connect({"token": _this.token}, function(frame) {
                    ws.subscribe("/sub/chat/room/" + _this.roomId, function(message) {
                        var recv = JSON.parse(message.body);
                        _this.recvMessage(recv);
                    });

                }, function(error) {
                    alert("서버 연결에 실패 하였습니다. 다시 접속해 주십시요.");
                    location.href = "/chat/room";
                });

                // 방에 들어오자마자 이메일 목록을 업데이트
                _this.updateEmailList();
            });


        },
        methods: {
            sendMessage: function(type) {
                ws.send("/pub/chat/message", {"token": this.token}, JSON.stringify({type: type, roomId: this.roomId, message: this.message}));
                this.message = '';
            },
            showEmailSelectionModal: function() {
                const gameType = event.target.getAttribute('data-by');
                this.gameType=gameType;

                this.updateEmailList(); // 이메일 목록을 업데이트 합니다.
                this.showEmailModal = true; // 이메일 선택 모달을 표시합니다.
            },
            updateEmailList: function() {
                axios.get('/chat/emails', {
                    params: {
                        roomId: this.roomId
                    }
                }).then(response => {
                    this.emails = response.data; // 응답으로 받은 이메일 목록을 데이터 속성에 할당
                }).catch(error => {
                    console.error(error);
                });
            },
            sendGameRequest: function() {
                 if (!this.selectedEmail) {
                    alert("게임 요청을 보낼 사용자를 선택하세요.");
                    return;
                }

                if (!this.gameType) {
                    alert("게임 타입이 null입니다.");
                    return;
                }
                  console.log("게임타입은",this.gameType,"입니다");

                const gameRequest = {
                    type: 'GAME_REQUEST',
                    roomId: this.roomId,
                    message: `${this.userName}님이 ${this.selectedEmail}님에게 ${this.gameType === 'rock-paper-scissors' ? '가위바위보' : '마피아'} 게임을 요청합니다.`,
                    gameType: this.gameType
                };
<!--                this.gameType=gameType;-->
<!--                여기서 만약 다른 게임도 추가하면 어떻게 하면 좋을지 생각해본다 -->

                // 게임 요청 메시지를 전송합니다.
                request=this.userName;
                 console.log("게임요청자는",request,"입니다");

                 ws.send("/pub/chat/miniGame", {
                    "token": this.token,
                    "request": this.userName,
                    "receiver": this.selectedEmail,
                      "gameType": this.gameType
                }, JSON.stringify(gameRequest));

                this.showEmailModal = false;
                 this.showModal = true;
<!--                this.showModal = gameType === 'rock-paper-scissors';-->
<!--                this.showMafiaModal = gameType === 'mafia';-->

                console.log("게임요청자는",request,"입니다");
                console.log("게임요청을 받는 사람은", this.selectedEmail, "입니다.");
            },
            acceptGameRequest: function() {
                // 게임 요청 수락 메시지를 전송합니다.
                  console.log("메시지 타겟대장:",this.selectedEmail);
                ws.send("/pub/chat/miniGame", {
                    "token": this.token,
                     "request": this.request,
                     "receiver": this.selectedEmail,
                     "gameType": this.gameType
                },

                JSON.stringify({
                    type: 'GAME_REQUEST_ACCEPT',
                    roomId: this.roomId,
                    message: '가위바위보 게임을 수락합니다.',
                    gameType: this.gameType
                }));

                // 게임 요청 모달을 닫습니다.
                //this.showModal = false;
<!--                 this.showSelect = true;-->

                if (this.gameType === 'rock-paper-scissors') {

                      this.showSelect = true;

                } else if (this.gameType === 'mafia') {
                      this.showModal = false;
                       this.showMafiaModal = true; // 마피아 게임 창을 표시합니다.

                }
                console.log("게임요청자:",this.request);
            },
            sendGameResponse: function(choice) {
                 if (this.choiceCheck) {
                    alert("이미 이 라운드에서 선택을 했습니다.");
                    return;
                }

                if(this.gameType=='mafia'){
                    this.choiceCheck=true;
                    console.log(this.gameType,"이 게임타입입니다");
                }

                // 사용자가 선택한 가위, 바위, 보 정보를 서버로 전송합니다.
                console.log(choice," 를 냈습니다");
console.log(choice," 를 냈습니다");
                ws.send("/pub/chat/miniGame", {

                    "token": this.token,
                     "request": choice
                },
                JSON.stringify({
                    type: 'GAME_RESPONSE',
                    roomId: this.roomId,
                    message: '가위바위보 중에 하나를 선택했습니다.',
                    gameType: this.gameType
                }));


            },
            rejectGameRequest: function() {
                console.log("메시지 타겟대장:",this.selectedEmail);
                // 모달 닫기 버튼 클릭 시 모달 상태를 변경합니다.
                 ws.send("/pub/chat/message", {
                    "token": this.token,
                     "request": this.request,
                     "receiver": this.selectedEmail
                 },
                 JSON.stringify({
                    type: 'GAME_REQUEST_REJECT',
                    roomId: this.roomId,
                    message: '가위바위보 게임을 거절합니다.'
                }));
                this.showModal = false;
                this.showSelect = false;
                this.showEmailModal = false;

            },
                getSenderName() {

                if (this.messages.length > 0 && this.messages[0].sender) {
                    const messageParts = this.messages[0].message.split('님');
                    if (messageParts.length > 0) {
                        return messageParts[0];
                    }
                }
                return '';
            },
            recvMessage: function(recv) {
                this.userCount = recv.userCount;
                this.messages.unshift({"type": recv.type, "sender": recv.sender, "message": recv.message})

                let target = recv.target;

                if (recv.type == 'GAME_REQUEST') {

                    if(target==this.userName){
                            console.log('게임 요청을 받았습니다. 모달을 엽니다');


                            console.log(this.userName);
                            console.log(target);


                            console.log(recv.message);
                            const messageParts = recv.message.split('님'); // '-'를 기준으로 분할
                            console.log(messageParts[0]);
                            const senderName = messageParts[0];
                            console.log(senderName);


                            this.request=senderName;
                               console.log(recv.sender);
                            this.showModal = true;
                            this.gameType = recv.gameType;
                            console.log("게임 요청을 받았습니다 게임 타입은",this.gameType);

                            console.log(this.showModal);
                            this.selectedEmail= senderName;
                            console.log(recv.sender);
<!--                              여기서 보내는 사람을 구해야한다 -->
                            console.log('recv타켓테스트:',recv.target);
                    }
                }

                if (recv.type == 'GAME_REQUEST_ACCEPT') {
                    let current_sender=recv.sender;
                    let current_target=recv.target;
                    console.log('메세지를 보낸 사람',current_sender);
                    console.log('메세지를 받는 사람',current_target);
                    if(current_target==this.userName){
                        this.gameType=recv.gameType;
<!--                        console.log('게임을 수락했습니다 받았습니다. 가위바위보를 선택합니다.');-->


<!--          가위바위보 게임 타입이면 가위바위보 게임창을 연다              -->
<!--           마피아게임 타입이면 마피아게임 게임창을 연다 -->
                        if (this.gameType === 'rock-paper-scissors') {
                             console.log('가위바위보 게임을 선택합니다.');
                             this.showSelect = true;

                        } else if (this.gameType === 'mafia') {
                             console.log('마피아 게임을 선택합니다.');

                             this.showModal = false;
                             this.showMafiaModal = true; // 마피아 게임 창을 표시합니다.
                        }



                    }

                }
                if (recv.type == 'GAME_REQUEST_REJECT') {
                    let current_sender=recv.sender;
                    let current_target=recv.target;
                    console.log('거절메세지를 보낸 사람',current_sender);
                    console.log('거절메세지를 받는 사람',current_target);

                    if(current_target==this.userName){
                        console.log('상대방이 게임요청을 거절했습니다.');
                        this.showModal = false;
                        this.showSelect = false;
                        this.showEmailModal = false;
                     }
                }
                if (recv.type == 'GAME_RESPONSE') {
                    console.log('게임리스폰');

                }
                if (recv.type == 'GAME_RESULT') {
                    console.log('게임리스폰');
                    let gameResult=recv.target;


                    let parts = gameResult.split(',');
                    let winner = parts[0];
                     console.log('위너는',winner);
                    let loser = parts[1];
                    console.log('루저는',loser);

                    if(winner==this.userName||loser==this.userName){


                        if(this.gameType=='mafia'){
                            const MessageByRound = `라운드 ${this.currentRound}: ${recv.message}`;
<!--                             if (parts.length > 2 && parts[2] === "draw") {-->
<!--                                alert("무승부입니다");-->
<!--                             }-->


                            alert(MessageByRound);



                            if(this.currentRound==5){
                                 this.showMafiaModal = false;
                                 this.currentRound=0;
                            }

                            this.currentRound++;
                            this.choiceCheck=false;

                        }else{
                            alert(recv.message);
                            this.showModal = false;
                            this.showSelect = false;
                            this.showEmailModal = false;
                        }

                     }

                }

            }
        }

    });
</script>
</body>
</html>