<!doctype html>
<html lang="en">
<head>
    <title>Websocket ChatRoom</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        [v-cloak] {
            display: none;
        }
        .modal {
            display: none;
            position: fixed;
            z-index: 999;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            animation-name: animatetop;
            animation-duration: 0.4s;
        }
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        @keyframes animatetop {
            from {top: -300px; opacity: 0}
            to {top: 0; opacity: 1}
        }
    </style>
</head>
<body>
<div class="container" id="app" v-cloak>
    <div class="row">
        <div class="col-md-6">
            <h4>{{roomName}}  <span class="badge badge-info badge-pill">{{userCount}}</span> </h4>
        </div>
        <div class="col-md-6 text-right">
            <a class="btn btn-primary btn-sm" href="/logout">로그아웃</a>
            <a class="btn btn-info btn-sm" href="/chat/room">채팅방 나가기</a>
            <button class="btn btn-success" @click="sendGameRequest">가위바위보 게임 시작하기</button>
        </div>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text">내용</label>
        </div>
        <input type="text" class="form-control" v-model="message" @keypress.enter="sendMessage('TALK')">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" @click="sendMessage('TALK')">보내기</button>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item" v-for="message in messages">
            {{message.sender}} - {{message.message}}</a>
        </li>
    </ul>

    <!-- 모달 컴포넌트 -->
    <div id="gameRequestModal" class="modal" :style="{display: showModal ? 'block' : 'none'}">
        <div class="modal-content">
            <h2>게임 요청</h2>
            <div class="ifNotSender" v-if="userName !== getSenderName() && showModal&& !showSelect" >
                <p>상대방이 가위바위보 게임을 시작하길 원합니다. 수락하시겠습니까?</p>
                <button type="button" @click="acceptGameRequest">수락</button>
                <button type="button" class="close" @click="rejectGameRequest">거절</button>
            </div>
            <div class="ifNotSender" v-if="userName == getSenderName() && !showSelect">
                <p>상대방의 수락을 기다리는 중 ...</p>
            </div>

            <div class="ifGameStart" v-if="showSelect">
                <button type="button" class="btn btn-primary" @click="sendGameResponse('ROCK')">가위</button>
                <button type="button" class="btn btn-primary" @click="sendGameResponse('PAPER')">바위</button>
                <button type="button" class="btn btn-primary" @click="sendGameResponse('SCISSORS')">보</button>
            </div>
<!--            gameResponse에 대해서 하나를 선택하고 게임번호 까지 같이 전송한다? -->

        </div>
    </div>
</div>

<!-- JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script>
    // websocket & stomp initialize
    var sock = new SockJS("/ws-stomp");
    var ws = Stomp.over(sock);

    // vue.js
    var vm = new Vue({
        el: '#app',
        data: {
            roomId: '',
            roomName: '',
            message: '',
            messages: [],
            token: '',
            userCount: 0,
            showModal: false, // 모달 상태를 저장하는 변수 추가
            showSelect: false,
            userName:{},
            requester:{}

        },
        created() {
            this.roomId = localStorage.getItem('wschat.roomId');
            this.roomName = localStorage.getItem('wschat.roomName');
            var _this = this;
            axios.get('/chat/user').then(response => {
                _this.userName = response.data.name;
                _this.token = response.data.token;
                ws.connect({"token": _this.token}, function(frame) {
                    ws.subscribe("/sub/chat/room/" + _this.roomId, function(message) {
                        var recv = JSON.parse(message.body);
                        _this.recvMessage(recv);
                    });

                }, function(error) {
                    alert("서버 연결에 실패 하였습니다. 다시 접속해 주십시요.");
                    location.href = "/chat/room";
                });
            });
        },
        methods: {
            sendMessage: function(type) {
                ws.send("/pub/chat/message", {"token": this.token}, JSON.stringify({type: type, roomId: this.roomId, message: this.message}));
                this.message = '';
            },
            sendGameRequest: function() {
                // 게임 요청 메시지를 전송합니다.
                ws.send("/pub/chat/message", {"token": this.token}, JSON.stringify({
                    type: 'GAME_REQUEST',
                    roomId: this.roomId,
                    message: '상대방에게 가위바위보 게임을 요청합니다.',

                }));

                requester=this.userName;
                console.log(requester);
            },
            acceptGameRequest: function() {
                // 게임 요청 수락 메시지를 전송합니다.
                ws.send("/pub/chat/miniGame", {"token": this.token}, JSON.stringify({
                    type: 'GAME_REQUEST_ACCEPT',
                    roomId: this.roomId,
                    message: '가위바위보 게임을 수락합니다.',
                    requester: this.requester
                }));

                // 게임 요청 모달을 닫습니다.
                //this.showModal = false;
                console.log("게임요청자:",requester);
            },
            rejectGameRequest: function() {
                // 모달 닫기 버튼 클릭 시 모달 상태를 변경합니다.
                 ws.send("/pub/chat/message", {"token": this.token}, JSON.stringify({
                    type: 'GAME_REQUEST_REJECT',
                    roomId: this.roomId,
                    message: '가위바위보 게임을 거절합니다.'
                }));
                this.showModal = false;

            },
                getSenderName() {

                if (this.messages.length > 0 && this.messages[0].sender) {
                    const messageParts = this.messages[0].message.split('님');
                    if (messageParts.length > 0) {
                        return messageParts[0];
                    }
                }
                return '';
            },
            recvMessage: function(recv) {
                this.userCount = recv.userCount;
                this.messages.unshift({"type": recv.type, "sender": recv.sender, "message": recv.message})

                if (recv.type == 'GAME_REQUEST') {
                    console.log('게임 요청을 받았습니다. 모달을 엽니다');
                    console.log(this.userName);

                    console.log(recv.message);
                    const messageParts = recv.message.split('님'); // '-'를 기준으로 분할
                    console.log(messageParts[0]);
                    const senderName = messageParts[0];
                    console.log(senderName);

                    if(this.userName!=senderName){

                    }
                    this.showModal = true;

                    console.log(this.showModal);
                }

                if (recv.type == 'GAME_REQUEST_ACCEPT') {
                    console.log('게임을 수락했습니다 받았습니다. 가위바위보를 선택합니다.')
                    this.showSelect = true;

                }
                if (recv.type == 'GAME_REQUEST_REJECT') {
                    console.log('게임요청을 거절했습니다.')
                    this.showModal = false;

                }

            },
            sendGameResponse: function(choice) {
                // 사용자가 선택한 가위, 바위, 보 정보를 서버로 전송합니다.
                ws.send("/pub/chat/message", {"token": this.token}, JSON.stringify({
                    type: 'GAME_RESPONSE',
                    roomId: this.roomId,
                    message: choice // 사용자가 선택한 가위, 바위, 보 정보를 전달합니다.
                }));
            }
        }

    });
</script>
</body>
</html>